body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: roboto;
}
nav .logo div{
    float: left;
    color: #570000;
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    position: relative;
    list-style: none;
}
.para p{
    color: rgb(99, 4, 4);
    /* font-family: roboto; */
}