body{
    padding: 0;
    margin: 0;
}
#home{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../res/hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display:flex;
    justify-content: space-between;
    padding: 16px 100px;
    align-items: center;
}
header img{
    width: 80px;
    height: 80px;
}
nav a{
    color: white;
    text-decoration: none;
    padding:10px 5px;
    margin: 0 10px;
}
#phone{
    border: 1px white solid ;
    border-radius: 5px;
    padding: 10px 20px;
}
#homeMiddle{
    margin-top: 130px;
    color: white;
    text-align: center;
}
#homeMiddle button{
    background-color: #E73536;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    padding: 20px 40px;
    color:white;
}
#homeMiddle h2{
    font-size: 50px;
    font-weight: 100;
    margin:0;
}
#homeMiddle h1{
    font-size: 117px;
    margin:0;
    font-weight: 100;
}
#services{
    text-align: center;
}
#box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}
.boxes{
    flex-basis: 25%;
    text-align: left;
}

.boxes img{
    width: 100%;
}

.boxes img+p{
    color: red;
}
#hrStyle{
    width: 30px;
    margin:0px auto ;
}

@media (max-width: 576px) { 
    nav{
        display: none;
    }
    header{
        justify-content:center ; 
    }
    #homeMiddle h1{
        font-size: 80px;
        margin:0;
        font-weight: 100;
    }
    .boxes img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .boxes:hover{
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);

    }
    #box{
        width: 80%;
        margin: 0px auto;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5vh;
    }
    .boxes{
        border-radius: 10px;
    }
    .boxes p{
        width: 90%;
        margin: 10px auto;
    }
    
    
} 
@media (min-width: 768px) and (max-width: 992px)  { 
    header{
        padding:16px 30px;
    }
 } 
